<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">
		 jdbc:mysql://localhost/bd-OO2-Grupo7</property> <!-- CAMBIAR! -->
		<property name="connection.username">${DB_USERNAME}</property> <!-- CAMBIAR! -->
		<property name="connection.password">${DB_PASSWORD}</property> <!-- CAMBIAR! -->
		<property name="connection.pool_size">1</property>
		<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="show_sql">true</property><!-- en true muestra hql en consola-->
		<property name="connection.pool_size">2</property>
		<!--Mapeo Entidades   -->
		<mapping resource="mapeos/Usuario.hbm.xml" />
		<mapping resource="mapeos/Ticket.hbm.xml"/>
		<mapping resource="mapeos/Control.hbm.xml"/>
		<mapping resource="mapeos/Area.hbm.xml"/>
	</session-factory>
	
</hibernate-configuration>